body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 0;
}

h1 {
    font-size: 60px;
    margin-bottom: 50px;
}

span {
    color: #656293;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

button {
    margin: 0;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.wrapper-header {
    background-image: url("images/background-header.png");
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 165px 0 165px;
    align-items: center;
}

.button-header {
    width: 95px;
    height: 30px;
    background: #656293;
    border-radius: 5px;
    color: #ffffff;
}
    
.navigation {
    display: flex;
    gap: 20px;
    align-items: center;
}

.registration {
    display: flex;
    gap: 20px;
    align-items: center;
}

.wrapper-enjoy-resrved{
    position: relative;
}

.enjoy {
    padding: 190px 0 225px 165px;
    width: 590px;
}

.window {
    position: absolute;
    top: 50px;
    right: 155px;
}